.tab_nav {
	box-shadow: 0 0 0 rgba(17, 20, 24, 0.1), 0 0 0 rgba(17, 20, 24, 0), 0 1px 1px rgba(17, 20, 24, 0.2);
}

.tab_nav_group {
	width: 100%;
}

.tabs {
	width: 100%;
}

.tab:focus {
	outline: none !important;
}
